@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

.logo {
  width: 30%;
  margin: 0 auto;
  padding-top: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.buy {
  display: block;
  width: 30%;
  text-align: center;
  text-decoration: none;
  background-color: #eadece;
  padding: 0.5em;
  border: 1px solid #eadece;
  border-radius: 0.5em;
  margin: 0 auto;
}

nav {
  display: block;
	background-color: #eadece;
  margin-top: 1em;
  clear: both;
  overflow: hidden;
}

nav li {
	margin:0;
	display: block;
}

nav ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav a {
	display: block;
	text-align: center;
	width: 100%;
	color: black;
	text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

nav a:hover {
  background-color: #9d4c39;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 1em 1em 0em 1em;
  margin: 0;
}

.ancient {
  padding-top: 0.125em;
}

.title-text {
  position: absolute;
  width: 100%;
  top: 0;
}

.seven-wonders {
  position: relative;
  text-align: center;
  width: 100%;
  color: #fff;
  overflow: hidden;
  padding: 0;
}

.seven-pics {
  display: block;
  margin: 1em 0em 1em 0em;
  padding: 1em 0em 1em 0em;
  width: 100%;
  text-align: center;
}

.seven-pics2 {
  display: block;
  margin: 1em 0em 1em 0em;
  padding: 1em 0em 1em 0em;
  width: 100%;
  text-align: center;
}

.giza {
  margin: 0em 1em 1em 1em;
}

.babylon {
    margin: 0em 1em 1em 1em;
}

.artemis {
  margin: 0em 1em 1em 1em;
}

.olympia {
  margin: 0em 1em 1em 1em;
}

.halicarnassus {
  margin: 0em 1em 1em 1em;
}

.rhodes {
  margin: 0em 1em 1em 1em;
}

.lighthouse {
  margin: 0em 1em 1em 1em;
}

dl {
  margin: 0.5em;
  text-align: left;
}

dd {
  margin: 0;
  text-align: left;
  padding-bottom: 2em;
}

.date {
  width: 33.33%;
  float: left;
}

.builders {
  width: 33.33%;
  float: left;
}

.locaton {
  width: 33.33%;
  float: left;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.atlantis {
  position: relative;
  margin-top: 1em;
  overflow: hidden;
}

.atlantis-text {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
}

.learn-more {
  display: block;
  width: 70%;
  text-align: center;
  text-decoration: none;
  background-color: #eadece;
  padding: 0.5em;
  border: 1px solid #eadece;
  border-radius: 0.5em;
  margin: 0em auto;
  clear: both;
}

h3 {
  padding: 0.5em;
  margin: 0;
}

.visit {
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  margin: 1em;
}

.adult {
  display: block;
  width: 70%;
  text-align: center;
  text-decoration: none;
  background-color: #eadece;
  padding: 0.5em;
  border: 1px solid #eadece;
  border-radius: 0.5em;
  margin: 1em auto 1em auto;
}

.kids {
  display: block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #eadece;
  padding: 0.5em;
  border: 1px solid #eadece;
  border-radius: 0.5em;
  margin: 0 auto;
}

.show-times {
  display: inline-block;
  width: 60%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #fff;
  border-radius: 0.5em;
  margin-top: 0.1em;
}

footer {
  background-color: #eadece;
  padding: 1em
}

.hours {
  float: left;
  margin-right: 1em;
}

.directions {
  float: left;
}

.plato {
  text-align: left;
  margin-left: 1em;
}

.footerlinks a {
  text-decoration: none;
}

@media only screen and (min-width: 20em) {

  .logo {
    float: left;
    width: 15%;
    margin: 0;
    padding-top: 1em;
  }

  .buy {
    display: block;
    width: 10%;
    text-align: center;
    text-decoration: none;
    background-color: #eadece;
    padding: 0.5em;
    border: 1px solid #eadece;
    border-radius: 0.5em;
    float: right;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: left;
  }

  nav a {
  	display: inline-block;
  	text-align: center;
  	width: 100%;
  	color: black;
  	text-decoration: none;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  nav li {
    float: left;
    width: 25%;
  }

  .ancient {
    padding-top: 20em;
  }

  .facts {
    overflow: hidden;
    position: relative;
  }

  .facts dd {
    float: left;
    width: 33.33%;
    padding-top: 1.5rem;
  }

  .facts dd:nth-child(2) {
    padding-top: 2.75rem;
  }

  .facts dt {
    position: absolute;
    width: 33.33%;
    top: 0;
  }

  .facts dt:nth-child(3) {
    left: 33.33%;
  }

  .facts dt:nth-child(5) {
    left: 66.66%;
  }

  .adult {
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    background-color: #eadece;
    padding: 0.5em;
    border: 1px solid #eadece;
    border-radius: 0.5em;
    margin: 0 auto;
    float: left;
  }

  .kids {
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    background-color: #eadece;
    padding: 0.5em;
    border: 1px solid #eadece;
    border-radius: 0.5em;
    margin: 0 auto;
    float: right;
  }

  .atlantis-text {
    margin-top: 30em;
  }

  .show-times {
      margin-top: 1em;
  }

}

@media only screen and (min-width: 45em) {

  .left {
    float:left;
    width: 50%;
    clear: right;
  }

  .right {
    float: right;
    width: 50%;
  }

  .price {
    clear: both;
  }

  .facts {
    overflow: hidden;
    position: relative;
  }

  .facts dd {
    float: left;
    width: 33.33%;
    padding-top: 1.5rem;
  }

  .facts dd:nth-child(2) {
    padding-top: 2.75rem;
  }

  .facts dt {
    position: absolute;
    width: 33.33%;
    top: 0;
  }

  .facts dt:nth-child(3) {
    left: 33.33%;
  }

  .facts dt:nth-child(5) {
    left: 66.66%;
  }

  .adult {
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    background-color: #eadece;
    padding: 0.5em;
    border: 1px solid #eadece;
    border-radius: 0.5em;
    margin: 0 auto;
    float: left;
  }

  .kids {
    display: inline-block;
    width: 40%;
    text-align: center;
    text-decoration: none;
    background-color: #eadece;
    padding: 0.5em;
    border: 1px solid #eadece;
    border-radius: 0.5em;
    margin: 0 auto;
    float: right;
  }

  .atlantis-text {
    margin-top: 30em;
  }

  .show-times {
      margin-top: 1em;
  }

  .learn-more {
    padding: 0.5em 2em 0.5em 2em;
  }

  .week {
    float: left;
    width: 45%;
    margin: 1em;
  }

  .week2 {
    float: right;
    width: 45%;
    margin: 1em;
  }

  footer {
    width: 100%;
  }

}

@media only screen and (min-width: 70em) {

  .masthead {
    float: left;
    width: 30%;
  }

  main {
    float: right;
    width: 70%;
  }

  .logo {
    display: block;
    vertical-align: middle;
    float: none;
    margin: 0 auto;
  }

  .buy {
    float: none;
    margin: 0 auto;
    clear: both;
    padding: 0.5em;
  }

  .nav {
    display: block;
    text-align: left;
  }

  .nav ol {
    margin: 0 auto;
  }

  .nav li {
    display: block;
    float: none;
    width: 100%;
  }

  .facts dd:nth-child(2) {
    padding-top: 4rem;
  }

  .atlantis-text {
    margin-top: 25em;
  }

  footer {
    width: 70%;
    float: right;
    overflow: hidden;
  }

}
