html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

.logo {
  float: left;
  width: 10%;
  margin-left: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
  width: 100%;
}

nav {
  text-align: center;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  float: left;
  width:25%;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #000;
  background-color: #b2b2b2;
  padding: 1rem;
  display: block;
}

nav a:hover {
  background-color: #a93f35;
}

.heading {
  position:relative;
}

.seven-wonders {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 16em;
  color: #fff;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 1em 1em 0em 1em;
  margin: 0;
}

.seven-pics {
  display: inline-block;
  margin: 0em 1em 0em 1em;
  padding: 1em;
  width: 94%;
  text-align: center;
}

.giza {
  margin: 0em 1em 1em 1em;
}

.babylon {
    margin: 0em 1em 1em 1em;
}

.artemis {
  margin: 0em 1em 1em 1em;
}

.olympia {
  margin: 0em 1em 1em 1em;
}

.halicarnassus {
  margin: 0em 1em 1em 1em;
}

.rhodes {
  margin: 0em 1em 1em 1em;
}

.lighthouse {
  margin: 0em 1em 1em 1em;
}

dl {
  margin: 0.5em;
  text-align: left;
}

dd {
  margin: 0;
  text-align: left;
  padding-bottom: 2em;
}

.date {
  width: 33.33%;
  float: left;
}

.builders {
  width: 33.33%;
  float: left;
}

.locaton {
  width: 33.33%;
  float: left;
}

p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.atlantis-pic {
  position: relative;
  margin-top: 1em;
}

.atlantis {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 300em;
}

.learn-more {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 0.5em;
  margin-left: 10em;
}

h3 {
  padding: 0.5em;
  margin: 0;
}

.visit {
  text-align: center;
}

ol {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.adult {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 0.5em;
  float:left;
}

.kids {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 0.5em;
  float: right;
}

.show-times {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 0.5em;
  margin-top: 1em;
}

footer {
  background-color: #b2b2b2;
  padding: 1em;
}

.hours {
  float: left;
}

.directions {
  float: left;
}

.plato {
  text-align: left;
}
